
body{
    height: auto;
    min-height: 100% !important;
    
}
.landing{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #253149;
}

li{
    list-style-type: none;
    padding-bottom: 5px;
    font-size: 1.5em;
    text-transform: uppercase;
}
li a{
    
}
ul{
    padding-left: 0;
}

.container-fluid.background{
    background-color: #ffffff;
    z-index: 1;
}
.logo{
    font-family: 'Oregano', cursive;
    cursor: pointer;
}
.logo h1{
    font-size: 5.2em;
    text-shadow: 1px 1px 0 #767471;
    letter-spacing: -3.16px;
    -webkit-text-stroke: 1px #E3E3E3;
    font-family: 'Oregano', cursive;
   -webkit-text-fill-color: ##E3E3E3; /* Will override color (regardless of order) */
   
}
.logo h1.a{
    font-size: 5.2em;
    text-shadow: 1px 1px 0 #767471;
    letter-spacing: -3.16px;
    -webkit-text-stroke: 1px #E3E3E3;
    font-family: 'Oregano', cursive;
   -webkit-text-fill-color: ##E3E3E3; /* Will override color (regardless of order) */
   
}


/*
 rg: 
border: 1px solid #E3E3E3;
font-family: Oregano-Regular;
font-size: 72px;
color: #253149;
letter-spacing: -3.16px;
text-shadow: 1px 1px 0 #767471;
*/

.buffer {
    padding-top: 20px; 
}
.landing h2{
    font-family: 'Maven Pro', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2.66px;
    font-weight: 400;
}

.case-study h2{
    font-family: 'Maven Pro', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2.66px;
    font-weight: 400;
}
.case-study{
    border: 1px;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(37,49,73, .25);
    width: 90%;
    min-height: 400px;
    padding-top: 5%;
    margin: auto;
    margin-top: 20px;
}

.case-study img, .view-other-studies img{
    height: 250px;
    width: auto;
    display: inline-block;
    float: left;
    margin-left: 40px;
    margin-right: 40px;
    border-color: #979797 !important;
    border-width: 6px;
    border-style: solid;
}
.tasty-trucks img{
    border-color: #7D1311 !important;
}
.tone-control img{
    border-color: #FFE8D1 !important;
}
.fandistro img{
    border-color: #57585B !important;
}
.case-study h3{
    width: 90%;
    font-weight: 300;
    letter-spacing: 1.37px;
    line-height: 1.5;
    font-size: 1.5em;
}
.case-study .button, .intro-text .lets-chat{
    background-color: #D8D8D8;
    border: none;
    color: #253149;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 150px;
    width: 100%;
    margin-top: 20px;
}
.intro-text .lets-chat{
    margin-top: 0;
    margin-bottom: 50px;
}
.case-study .button a, .intro-text .lets-chat a{
    color: #253149;
    text-decoration: none;
}
.mobile-nav-2{
    display: none;
}
.intro-text{
    color: #253149;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 20px;
    letter-spacing: 2.14px;
    line-height: 1.5;
}
.responsive-menu-1{
    padding-top: 20px;
    color: #253149;
}
.responsive-menu-1 li a, .responsive-menu-1 li a:hover{
    color: #253149;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 1.06px;
    text-decoration: none;
}
.case-study.winery img{
    border-color: #7F4C48 !important;
}

.footer {
    color: #253149;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 50px;
    letter-spacing: 2.14px;
    line-height: 1.5;
    width: 95%;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    
        
}
.wines .footer{
    width: 95%;
}

.links-container a, .links-container a:hover, .links-container a:visited{
/*    padding-right: 20px;*/
    text-decoration: none;
    font-size: 1em;
    color: #253149;
    font-weight: 400;
}

.links-container a:after{
    content: '  \2219 ';
    
}
.links-container a:last-child:after {
content: '';
}


@media (max-width: 1200px ){
    .logo {
        text-align: center;
    }
    .responsive-menu-1{
        text-align: center;
    }
    .intro-text{
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .intro-content{
        margin: auto;
    }
    .case-study {
        text-align: center;
    }
    .case-study img{
       margin-bottom: 10%;
       float: none;
       margin-left: 5%;
       margin-right: 5%;
    }
    .case-study h2{
        text-align: center;
        padding-bottom: 5%;
        margin: auto;
    }
    .case-study h3{
        margin: auto;
        font-size: 1.3em;
        text-align: center;
    }
    .read-more-wrapper{
        margin-bottom: 10%;
    }
    .footer{
        
        line-height: 2;
    }
}