body{
    font-family: 'Open Sans', sans-serif;
    color: #020307;
}
table{
    width: 100%;
}
.summary{
    background-color: #253149;
    color: #fff;

    
}
.right-pad{
    width: 95%;
    margin: auto;
    
}
.fixed-nav{
    position: relative;
}
.summary h2 {
    padding-top: 80px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 3em;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.48px;
}
.wines .summary h2{
    padding-top: 12%;
}
.summary p{
    text-align: center;
    font-size: 1.4em;
    width: 80%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 20px;
    letter-spacing: 1.37px;
    line-height: 1.6;
    padding-bottom: 20px;
}
.summary p:last-child{
    padding-bottom: 20%;
}
.study-intro-text{
    background-image: url(../assets/glasses3.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
    color: #020307;
}
.wines .study-intro-text{
    background-image: url(../assets/winery/corks.png);
    background-size: 100%;
}
.tasty-trucks .study-intro-text{
    background-image: url(../assets/tasty-trucks/soho-taco.jpg);
    background-position: center;
    background-size: 100%;
}
.study-intro-text h2{
    text-align: center;
    width: 80%;
    margin: auto;
    color: #020307;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 2.06px;
    font-size: 2.2em;
    font-weight: 400;
    padding: 5%;
    padding-bottom: 0%;
}
.study-intro-text h2:first-child{
    padding-top: 10%;
}
.tasty-trucks .study-intro-text h2{
    color: #fff;
    width: 50%;
    text-shadow: 0px 4px 4px rgba(72,71,71,1);
    line-height: 1.4;
}
.wines .study-intro-text h2{
    padding: 30px 0;
    font-size: 2.5em;
}
.intro-content{
/*    padding-top: 100px;*/
}
.problem, .process{
    background-color: #F0F0F0;
    color: #020307;
    min-height: 475px;
}
.wines .problem{
    min-height: 375px;
}
.tasty-trucks .problem{
    min-height: 325px;
}
.tasty-trucks .solution{
    min-height: 800px;
}
.study-pad{
    color: #020307;
    padding-left: 100px;
    padding-right: 100px;
}
.study-pad p:last-child{
    padding-bottom: 10%;
}
.problem h2, .solution h2, .process h2, .conclusion h2{
    padding-top: 80px;
}
.section-header{
    text-transform: uppercase;
    color: #020307;
    font-size: 2em;
    letter-spacing: 1.36px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    margin-top: 0;
    
}
.problem p, .solution p, .solution a, .process p, .study-results li, .conclusion p, .conclusion a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1.37px;
    line-height: 1.8;
    margin-bottom: 0;
    padding-bottom: 2%;
}
.solution, .conclusion{
    background-color: #253149;
    color: #fff;
    min-height: 1400px;
}
.problem p:last-child{
    padding-bottom: 10%;
}

.wines .solution {
    min-height: 10%;
}
.conclusion{
    min-height: 600px;
}
.wines .conclusion{
    min-height: 750px;
}
.tasty-trucks .conclusion {
    min-height: 500px;
}
.solution h2, .solution p, .solution a, .conclusion h2, .conclusion p, .conclusion a{
    color: #fff;
}
.solution img{
    width: 100%;
    margin: auto;
    padding-top: 20px;
}
.solution a, .solution a:hover, .conclusion a, .conclusion a:hover{
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
    padding-top: 5%;
    padding-bottom: 10%;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}
.process h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.6em;
    letter-spacing: 1.37px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.process h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 1.37px;
    line-height: 1.5;
}
.process .mockups{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
    padding-top: 20px;
}
.sub-section-header{
    padding-bottom: 10px;
}
.process-section{
    padding-bottom: 20px;
}
.bullet-list{
    padding-top: 20px;
}
.process .study-results{
    padding-left: 120px;
    padding-top: 10px;
    margin-left: 10px;
}
.study-results li{
    list-style-type: disc;
    list-style-position: outside;
    text-transform: none;
    line-height: 1.5;
    padding-bottom: 10px;
    padding-left: 10px;
}
.process img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.3);
    padding: 0px 0;
    
}
.tasty-wires{
    padding-bottom: 20px !important;
}
.tasty-wires img{
    display: inline-block;
    width: 30%;
    
}
.tasty-wires img{
    margin-left: 2.5%;
    
}
.tasty-wires img:first-child{
    margin-left: 0;
    
}
.img-wrapper{
    display: block;
    padding-bottom: 50px;
    padding-top: 10px;
}
.tasty-elements{
    padding-bottom: 20px !important;
}
/*
.personas{
    padding-left: 0;
    padding-right: 0;
}
*/
.stories table{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    color: #020307;
    margin-top: 40px;
}
.stories th{
    text-transform: uppercase;
    background-color: #D9D9D9;
    
}
.stories table, .stories td {
    border: 1px solid #D9D9D9;
}
.stories th{
    border: 1px solid #020307;
}
.stories th, .stories td {
    padding: 5px 10px;
}
.stories table thead th:first-child, .stories table tr td:first-child {
    width: 10%;    
}
.no-border{
    box-shadow: none !important;
}
.survey-question{
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.4em;
    color: #020307;
    margin-top: 2%;
    padding-left: 10%;
    font-weight: 300;
}
.typography{
    display: inline-block;
    width: 90%;
}
.lora{
    font-family: 'Lora', serif;
    font-weight: 400;
}
.caps{
    text-transform: uppercase;
    font-style: inherit;
}
.img-pad {
    padding-top: 0px;
}
.conclusion a, .conclusion a:hover, .conclusion a:visited{
    text-align: left;
    text-decoration: none;
    padding-bottom: 50px;
}
.conclusion .link-to-site{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 400;
    
}

@media (min-width: 1200px){
    .fixed-nav{
        position: fixed !important;
    }
}

@media (max-width: 1200px ){
    li{
        display: inline-block;
        padding-right: 20px;
    }
    .logo {
        text-align: center;
    }
    .responsive-menu-1{
        text-align: center;
    }
    .intro-text{
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .intro-content{
        margin: auto;
    }
    .solution{
        min-height: 20%;
    }
    .wines .solution{
        min-height: 20%;
    }
    
    .summary h2{
        font-size: 2em;
        width: 90%;
        margin: auto;
    }
    .wines .summary h2{
        font-size: 2em;
        width: 90%;
        margin: auto;
    }
    
    .pad-right{
        width: 100%;
    }
    
    .study-pad{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        text-align: left;
        
    }
    .study-pad p:last-child{
        padding-bottom: 20%;
    }
    .survey-question{
        padding-left: 0;
    }
    .process h5{
        padding-bottom: 1%;
    }
    .process .study-results{
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
    }
    .problem p, .solution p, .solution a, .process p, .study-results li, .conclusion p, .conclusion a{
        font-size: 1.1em;
        padding-bottom: 5%;
    }
    .solution p:last-child{
        padding-bottom: 0;
    }
    .solution a:last-child{
        padding-bottom: 10%;
        padding-top: 0%;
    }
    .study-results li:before{
        content:"· ";
    }
    .conclusion .link-to-site{
        text-align: left !important;
    }
    .footer{
        text-align: center;
    }
    
}
@media (max-width: 768px ){
    .summary p{
        text-align: left;
    }
    .study-intro-text h2{
        font-size: 1.6em;
        line-height: 1.5;
    }
    .study-intro-text h2:last-child{
        padding-bottom: 10%;
    }
    .stories{
        display: inline;
    }
    .wines .study-intro-text h2{
        font-size: 2em;
    }
    .study-intro-text{
        min-height: 180px;
        background-size: cover;
    }
    .intro-content{
/*        height: 180px;*/
        margin: auto;
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .wines .intro-content{
        display: flex;
    }
    .problem p:last-child{
        padding-bottom: 20%;
    }
}
