body{
    font-family: 'Open Sans', sans-serif;
    color: #020307;
    height: 100%;
}

table{
    width: 100%;
}
.summary{
    background-color: #253149;
    color: #fff;

    
}
.logo-container{
    padding-bottom: 10%;
    width: 100%;
}
.intro-text{
    font-weight: 300;
    display: none;
}
.right-pad{
    width: 95%;
    margin: auto;
    
}
.fixed-nav{
    position: relative;
}
.summary h2 {
    padding-top: 10%;
    text-align: center;
    padding-bottom: 20px;
    font-size: 3em;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.48px;
}
.wines .summary h2{
    padding-top: 12%;
}
.summary p{
    text-align: center;
    font-size: 1.4em;
    width: 80%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 20px;
    letter-spacing: 1.37px;
    line-height: 1.6;
    padding-bottom: 20px;
}
.summary p:last-child{
    padding-bottom: 20%;
}
.study-intro-text{
    background-image: url(../assets/glasses3.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
    color: #020307;
    
    z-index: 999999;
    right: 0;
    height: 60%;
    text-align: center;

    /* Solution part I. */
    display: table;
}
.wines .study-intro-text{
    background-image: url(../assets/winery/corks.png);
    background-size: 100%;
}
.tasty-trucks .study-intro-text{
    background-image: url(../assets/tasty-trucks/soho-taco.jpg);
    background-position: center;
    background-size: cover;
}
.tones .study-intro-text{
/*    background-image: url(../assets/tone-control/pedal-board_1000.jpg);*/
    background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/tone-control/pedal-board_1000.jpg');
    background-position: center;
    background-size: cover;
    
}
.study-intro-text h2{
    text-align: center;
    width: 80%;
    margin: auto;
    color: #020307;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 2.06px;
    font-size: 2.2em;
    font-weight: 400;
/*    padding: 5%;*/
    padding-bottom: 2%;
}
.tones .study-intro-text h2{
    color: #fff;
}
.study-intro-text h2:first-child{
/*    padding-top: 8%;*/
}
.tasty-trucks .study-intro-text h2:first-child{
/*    padding-top: 9%;*/
}
.tones .study-intro-text h2:first-child{
/*    padding-top: 12%;*/
    text-shadow: 2px 2px 2px rgba(000,000,000,1);
}
.tasty-trucks .study-intro-text h2{
    color: #fff;
    width: 50%;
    text-shadow: 0px 4px 4px rgba(72,71,71,1);
    line-height: 1.4;
}
.wines .study-intro-text h2{
    padding: 15% 0;
    font-size: 2.5em;
}
.intro-content{
/*    padding-top: 100px;*/
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.problem, .process{
    background-color: #F0F0F0;
    color: #020307;
    min-height: 475px;
}
.wines .problem{
    min-height: 375px;
}
.wines .problem img, .fandistro .problem img{
    width: 100%;
}
.fandistro .problem img:first-child{
    padding-bottom: 5%;
}
.tasty-trucks .problem{
    min-height: 325px;
}
.tasty-trucks .solution{
/*    min-height: 0;*/
}
.study-pad{
    color: #020307;
    padding-left: 100px;
    padding-right: 100px;
}
.study-pad p:last-child{
    padding-bottom: 10%;
}
.link-to-site{
    padding-bottom: 2%;
    padding-top: 5%;
}

.problem h2, .solution h2, .process h2, .conclusion h2{
    padding-top: 80px;
}
.section-header{
    text-transform: uppercase;
    color: #020307;
    font-size: 2em;
    letter-spacing: 1.36px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    margin-top: 0;
    
}
.problem p, .solution p, .solution a, .process p, .study-results li, .conclusion p, .conclusion a, study-pad{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1.37px;
    line-height: 1.8;
    margin-bottom: 0;
    padding-bottom: 2%;
}
.solution, .conclusion{
    background-color: #253149;
    color: #fff;
    min-height: 20%;
}
.link-box{
    border: 1px;
}
.problem p:last-child{
    padding-bottom: 10%;
}

.wines .solution {
    min-height: 10%;
}
.conclusion{
    min-height: 600px;
}
.wines .conclusion{
    min-height: 750px;
}
.tasty-trucks .conclusion {
    min-height: 500px;
}
.tones .conclusion{
    min-height: 400px;
}
.solution h2, .solution p, .solution a, .conclusion h2, .conclusion p, .conclusion a{
    color: #fff;
}
.solution img{
    width: 100%;
    margin: auto;
    padding-top: 20px;
}
.solution a, .solution a:hover, .conclusion a, .conclusion a:hover{
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
    padding-top: 5%;
    padding-bottom: 10%;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}
.link-to-site, .link-to-site:hover{
  
    color: #fff;
    padding: 3% 1% !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 1em;   
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 200px;
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    
}

.tasty-trucks .link-to-site a:hover{
  
    max-width: 325px;
/*
    width: 30em;
   
*/
    
}
.link-to-site a{
    padding: 3%;
    border: 2px solid white;
    margin-bottom: 50%;
/*    margin-top: 20%;*/
    text-align: center !important;
    padding-top: 3%;
    padding-bottom: 3%;
}
.link-to-site a:hover{
    padding: 3%;
    border: 2px solid white;
    margin-bottom: 50%;
/*    margin-top: 20%;*/
}
.link-to-site.tasty-trucks{
    width: 30em;
    max-width: 325px;
    padding-left: 0px !important;
}
.tasty-trucks .link-to-site{
    
    max-width: 325px;
}
 .conclusion .tasty-trucks{
        margin-left: 100px !important;
}
.process h3, .problem h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.6em;
    letter-spacing: 1.37px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.process h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 1.37px;
    line-height: 1.5;
}
.process .mockups{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
    padding-top: 20px;
}
.sub-section-header{
    padding-bottom: 10px;
}
.process-section{
    padding-bottom: 20px;
}
.bullet-list{
    padding-top: 20px;
}
.process .study-results{
    padding-left: 120px;
    padding-top: 10px;
    margin-left: 10px;
}
.study-results li{
    list-style-type: disc;
    list-style-position: outside;
    text-transform: none;
    line-height: 1.5;
    padding-bottom: 10px;
    padding-left: 10px;
}
.process img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.3);
    padding: 0px 0;
    
}
.tasty-wires{
    padding-bottom: 20px !important;
}
.tasty-wires img{
    display: inline-block;
    width: 30%;
    float: left;
}
.tasty-wires img{
    margin-left: 2.5%;
    
}
.tasty-wires img:first-child{
    margin-left: 0;
    
}
.img-wrapper{
    display: inline-block;
    padding-bottom: 50px;
    padding-top: 10px;
}
.tasty-elements{
    padding-bottom: 20px !important;
}
/*
.personas{
    padding-left: 0;
    padding-right: 0;
}
*/
.stories table{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    color: #020307;
    margin-top: 40px;
}
.stories th{
    text-transform: uppercase;
    background-color: #D9D9D9;
    
}
.stories table, .stories td {
    border: 1px solid #D9D9D9;
}
.stories th{
    border: 1px solid #020307;
}
.stories th, .stories td {
    padding: 5px 10px;
}
.stories table thead th:first-child, .stories table tr td:first-child {
    width: 10%;    
}
.no-border{
    box-shadow: none !important;
}
.survey-question{
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.4em;
    color: #020307;
    margin-top: 2%;
    padding-left: 10%;
    font-weight: 300;
}
.typography{
    display: inline-block;
    width: 90%;
}
.lora{
    font-family: 'Lora', serif;
    font-weight: 400;
}
.caps{
    text-transform: uppercase;
    font-style: inherit;
}
.img-pad {
    padding-top: 0px;
}
.conclusion a, .conclusion a:hover, .conclusion a:visited{
    text-align: left;
    text-decoration: none;
    padding-bottom: 50px;
}
.conclusion .link-to-site{
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 300;
    
}
.ype, .left-link, .ype:hover, .left-link:hover{
        margin-left: 100px !important;
        padding-left: 0px !important;
        
    }

/* CONTACT & ABOUT PAGE */
.contact {
    padding-top: 10%;
}
.about {
    padding-top: 5%;
}
.about p{
    text-align: left;
}
.about a{
    text-decoration: none;
    color: #fff;
}
.about a:hover{
    text-decoration: none;
    color: #fff;
}
.top-wrapper{
    width: 80%;
    margin: auto;
    
}
.about-img{
    float: left;
    width: 35%;
}
.about-img img{
    width: 225px;
    height: 225px;
}
.about-right{
    float: left;
    width: 45%;
}
.clear{
    clear: both;
    padding-bottom: 5%;
}
.contact-rob{
    text-decoration: none;
    color: #fff;
}
.contact-rob:hover{
    text-decoration: none;
    color: #fff;
}
/* END CONTACT & ABOUT PAGE */

/* VIEW OTHER CASE STUDIES */
.view-studies .section-header{
    text-align: left;
    padding-top: 10%;
    width: 95%;
    padding-left: 10%;
    padding-right: 5%;
}
.view-studies .view-other-studies{
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    width: 100%;
}
.case-study-image{
    margin-right: 1%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 32%;
}
.case-study-image:last-child{
    margin-right: 0;
    
}
.case-study-image a{
    text-decoration: none;
    color: #020307;
}
.case-study-image a:hover{
   text-decoration: none;
    color: #020307;
}
.view-other-studies img{
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
    border-color: #979797 !important;
    border-width: 6px;
    border-style: solid;
}
.case-study-image .image-title{
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.36px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 5%;
    display: block;
    clear: both;
}
.mini-cart-logos{
    background-color: #253149;
    width: 75%;
    height: 100%;
    display: flex;
    /* vertical-align: baseline; */
    padding-top: 5%;
    padding-bottom: 10%;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.mini-cart-logos .logo-column{
    display: flex;
}
.mini-cart-logos .logo-column img{
    width: 100%;
    flex: 50%;
}
.mini-cart-logos .logo-column .tnf-logo{
    width: 80%;
    padding-right: 10%;
    align-self: flex-end;
}
.mini-cart-logos .logo-column .vans-logo{
    width: 90%;
    padding-left: 10%;
    align-self: flex-start;
}
.mini-cart-solution{
    padding-bottom: 40px;
}
.mini-cart-solution-tnf, .concepts{
        float: left;
    margin: 0 auto;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

.mini-cart-solution-vans{
    padding-top: 0%;
}

.mini-cart-solution-vans, .concepts{
    
    float: right;
    margin: 0 auto;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}
.mini-cart-solution-tnf img, .mini-cart-solution-vans img, .concepts img{
    width: 90%;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: none;
}

.workshop-list {
    font-family: 'Open Sans', sans-serif;
    color: #020307;
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1.37px;
    line-height: 1.8;
    margin-bottom: 0;
    padding-bottom: 2%;
    margin-left: 5%;
    
}
.workshop-list-li {
    list-style-type: disc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 1.37px;
    line-height: 1.8;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: none;
}
workshop-list-li p{
    font-size: 1em;
}
.workship-paragraph{
    padding-bottom: 2%;
}
.weight-semi-bold{
    font-weight: 400;
}
.weight-semi-bold p{
    font-size: 1em;
    padding-top: 1%;
}
.workshop-img{
    display: inline-block;
    width: 100%;
    float: left;
    margin-left: 2.5%;
    box-shadow: none;
}
.workshop-img img{
    box-shadow: none;
}

.view-other-studies .border-tim img{
/*    border-color: #7F4C48;*/
}
.view-other-studies .border-tasty img{
/*    border-color: #7D1311;*/
}
/* END VIEW OTHER CASE STUDIES*/

.links-container {
    padding-top: 10%;
}
@media (max-width: 1259px){
    .case-study-image{
        width: 32%;
    }
}

@media (min-width: 1200px){
    .fixed-nav{
        position: fixed !important;
    }
}

@media (max-width: 1200px ){
    li{
        display: inline-block;
        padding-right: 20px;
    }
    .logo {
        text-align: center;
    }
    .responsive-menu-1{
        text-align: center;
    }
    .intro-text{
        text-align: center;
        width: 90%;
        margin: auto;
        display: none;
        
    }
    .intro-content{
        margin: auto;
    }
    .solution{
        min-height: 20%;
    }
    .wines .solution{
        min-height: 20%;
    }
    
    .summary h2{
        font-size: 2em;
        width: 90%;
        margin: auto;
    }
    .wines .summary h2{
        font-size: 2em;
        width: 90%;
        margin: auto;
    }
    
    .pad-right{
        width: 100%;
    }
    
    .study-pad{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        text-align: left;
        
    }
    .study-pad p:last-child{
        padding-bottom: 20%;
    }
    .survey-question{
        padding-left: 0;
    }
    .process h5{
        padding-bottom: 1%;
    }
    .process .study-results{
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
    }
    .problem p, .solution p, .solution a, .process p, .study-results li, .conclusion p, .conclusion a{
        font-size: 1.1em;
        padding-bottom: 5%;
    }
    .solution p:last-child{
        padding-bottom: 0;
    }
    .solution a:last-child{
        padding-bottom: 3%;
        padding-top: 3%;
    }
    .study-results li:before{
        content:"· ";
    }
    .conclusion .link-to-site{
        text-align: center !important;
    }
    .footer{
        text-align: center;
        line-height: 2;
        
    }
    .conclusion .left-justify{
/*        margin-left: 10% !important;*/
    }
    .conclusion .tasty-trucks, .ype, .left-link{
        margin-left: 10% !important;
        
    }
    .about-right{
        padding-top: 5%; 
    }
}
@media (max-width: 768px ){
    .summary p{
        text-align: left;
    }
    .study-intro-text h2{
        font-size: 1.6em;
        line-height: 1.5;
    }
    .study-intro-text h2:first-child{
        padding-top: 5%;
    }
    .study-intro-text h2:last-child{
        padding-bottom: 5%;
    }
    .stories{
        display: inline;
    }
    .wines .study-intro-text h2{
        font-size: 2em;
    }
    .tones .study-intro-text h2:first-child{
/*        padding-top: 20%;*/
    }
    .study-intro-text{
        min-height: 180px;
        background-size: cover;
    }
    .intro-content{
/*        height: 180px;*/
        margin: auto;
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .wines .intro-content{
        display: flex;
    }
    .problem p:last-child{
        padding-bottom: 20%;
    }
    .stories table{
        width: 80%;
        margin: auto;
    }
    .tasty-wires img{
        display: block;
        width: 100%;
        margin-left: 0;
    }
   
    .link-to-site.tasty-trucks{
        width: 30em;
        max-width: 225px;
        padding-left: 0px !important;
    }
    .tasty-trucks .link-to-site{
        width: 30em;
        max-width: 225px;
        margin-top: 5%;
    }
   .link-to-site.left-justify{
        width: 30em;
        max-width: 225px;
        padding-left: 0px !important;
    }
    .tasty-trucks .link-to-site a:hover{
  
        max-width: 225px;
        width: 30em;
    }
    
    .conclusion .tasty-trucks, .ype, left-link{
        margin-left: 10% !important;
        margin-top: 5%;
    }
    .footer{
        text-align: center;
        line-height: 2;
    }
    .about-right{
        display: none;
    }
}
@media (max-width: 553px){
    .case-study-image{
        width: 100%;
        padding-bottom: 15%;
    }
    .footer{
        text-align: center;
    }
}
